<div class="col-2 d-none d-md-block mt-3 mt-md-4 mt-lg-5 pe-2 noselect mw-15">
    <aside class="sticky-sidebar">
        <div class="sidebar-box">
            <h5 class="fw-bold mt-2 mt-lg-3 sidebar-header text-nowrap">Appearance</h5>
            <div class="d-flex flex-column gap-2">
                <fieldset class="mb-2 mb-lg-3">
                    <hr class="side-app-bar">
                    <legend class="fw-light fs-6">Theme</legend>
                    <hr class="side-app-bar">

                    <div>
                        <input type="radio" id="theme-light" name="theme-desktop" value="light" checked>
                        <label for="theme-light">Light</label>
                    </div>

                    <div>
                        <input type="radio" id="theme-dark" name="theme-desktop" value="dark">
                        <label for="theme-dark">Dark</label>
                    </div>
                </fieldset>

                <fieldset class="mb-2 mb-lg-3">
                    <legend class="fw-light fs-6">Font Size</legend>
                    <hr class="side-app-bar">

                    <div>
                        <input type="radio" id="font-small" name="fontSize-desktop" value="1rem" checked>
                        <label for="font-small">Small</label>
                    </div>

                    <div>
                        <input type="radio" id="font-medium" name="fontSize-desktop" value="1.2rem">
                        <label for="font-medium">Medium</label>
                    </div>
                    <div>
                        <input type="radio" id="font-large" name="fontSize-desktop" value="1.4rem">
                        <label for="font-large">Large</label>
                    </div>
                </fieldset>
            </div>
        </div>
    </aside>
</div>